.PhoneInputInput {
    background-color: transparent !important;
    outline: none;
    width: 80%;
}

.PhoneInputCountryIconImg {
    border-radius: 50%;
    height: 20px;
    width: 20px;
}

.PhoneInputCountryIcon--border {
    border: none;
    background-color: transparent !important;
    box-shadow: none !important;
}

.PhoneInput--focus {
    background-color: transparent;
}
